{% if plugin_version('citadel/levels', 'premium') and levelConfig() %}
    <div class="card mt-2">
        <div class="card-title">
            Levels
        </div>
        <div class="card-body">
            <div class="mt-2 mb-2">
                {% set prog = levelProgress(user) %}
                {% set lvl = level(user) %}
                {% if levelConfig() != null %}
                    <div title="{{ prog.percent|round(0) }}%">
                        <p class="text-small">
                            <span class="">
                                {% if lvl %}
                                    {{ lvl.name }}
                                {% endif %}
                            </span>
                        </p>
                        <div class="xp-bar w-50">
                            <div class="xp-bar_fill"
                                 style="width: {{ prog.percent|round(0) }}%;"
                                 aria-valuenow="{{ prog.current }}"
                                 aria-valuemin="{{ prog.min }}"
                                 aria-valuemax="{{ prog.max }}">
                                <span class="no-skewed ml-2 text-small">
                                    {{ prog.percent|round(0) }}%
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        {% if prog.nextLevel %}
                            <p class="text-small">
                                Next Level:
                                <span class="metric ">
                                    {{ prog.nextLevel.name }}
                                </span>
                                at {{ prog.max }} XP
                            </p>
                        {% endif %}
                        <span class="text-small">
                            Total XP: {{ (prog.current) }}
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}